.main-font {
  font-family: 'Didact Gothic', sans-serif;
  font-family: 'Montez', cursive;
  font-family: 'Montserrat', sans-serif;
}
.transition {
  transition: 0.3s;
}
.box-shadow {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}
hr {
  opacity: 0.7;
}
