::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #e9e9e9;
}
::-webkit-scrollbar-thumb {
  background: #B53471;
}
::-webkit-scrollbar-thumb:hover {
  background: #a12e65;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
strong,
span,
small,
button {
  margin: 0;
  padding: 0;
  font-family: 'Didact Gothic', sans-serif;
  font-family: 'Montez', cursive;
  font-family: 'Montserrat', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
strong,
span,
small,
button {
  color: #222F3E;
}
h1::first-letter,
h2::first-letter,
h3::first-letter,
h4::first-letter,
h5::first-letter,
h6::first-letter,
p::first-letter,
a::first-letter,
strong::first-letter,
span::first-letter,
small::first-letter,
button::first-letter {
  text-transform: capitalize;
}
a {
  text-decoration: none;
}
.main-font {
  font-family: 'Didact Gothic', sans-serif;
  font-family: 'Montez', cursive;
  font-family: 'Montserrat', sans-serif;
}
.transition {
  transition: 0.3s;
}
.box-shadow {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}
hr {
  opacity: 0.7;
}
.align-items-center {
  align-items: center;
}
.mindalay--brand-color-background {
  background-color: #B53471 !important;
}
.mindalay--blue-color-background {
  background-color: #2980B9 !important;
}
.mindalay--gray-color-background {
  background-color: #9c9c9c !important;
}
.mindalay--dark-color-background {
  background-color: #222F3E !important;
}
.mindalay--green-color-background {
  background-color: #06B400 !important;
}
.mindalay--orange-color-background {
  background-color: #ff6700 !important;
}
.mindalay--red-color-background {
  background-color: #DA0006 !important;
}
.brand-color {
  color: #B53471 !important;
}
.blue-color {
  color: #2980B9 !important;
}
.green-color {
  color: #06B400 !important;
}
.dark-color {
  color: #222F3E !important;
}
.gray-color {
  color: #9c9c9c !important;
}
.orange-color {
  color: #ff6700 !important;
}
.red-color {
  color: #DA0006;
}
.red-color * {
  fill: #DA0006 !important;
}
.red-border {
  border: 1px solid #DA0006 !important;
}
.mindalay--board-container {
  position: relative;
  transition: 0.3s;
}
.mindalay--board-container .mindalay--board-wrapper {
  position: relative;
}
.mindalay--board-container .mindalay--board-wrapper .mindalay--board-content-wrapper .mindalay--board-content {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 50px 5px 0 5px;
  max-height: 100vh;
}
.mindalay--board-container .mindalay--board-wrapper .mindalay--board-content-wrapper .mindalay--board-content .mindalay--textarea-wrapper {
  position: relative;
  width: 100%;
}
.mindalay--board-container .mindalay--board-wrapper .mindalay--board-content-wrapper .mindalay--board-content .mindalay--textarea-wrapper .yseditor {
  height: 100%;
  background-color: #ffffff;
  border-radius: 3px;
  box-sizing: border-box;
  overflow: auto;
}
.mindalay--board-container .mindalay--board-wrapper .mindalay--board-content-wrapper .mindalay--board-content .mindalay--textarea-wrapper .yseditor .yseditor-toolbar button {
  margin: 1px;
}
.mindalay--board-container .mindalay--board-wrapper .mindalay--board-content-wrapper .mindalay--board-content .mindalay--textarea-wrapper .yseditor .yseditor-toolbar .toolBar-active {
  background-color: #e9e9e9;
}
.mindalay--board-container .mindalay--board-wrapper .mindalay--board-content-wrapper .mindalay--board-content .mindalay--textarea-wrapper .yseditor .yseditor-content {
  min-height: 150px;
}
.mindalay--board-container .mindalay--board-wrapper .mindalay--board-content-wrapper .mindalay--board-content .mindalay--textarea-wrapper .yseditor .yseditor-content ul {
  margin: auto;
  padding: auto;
}
.mindalay--board-container .mindalay--board-wrapper .mindalay--board-content-wrapper .mindalay--board-content .mindalay--textarea-wrapper .yseditor .yseditor-content ul li {
  margin: auto;
  padding: auto;
}
.mindalay--board-container .mindalay--board-wrapper .mindalay--board-content-wrapper .mindalay--board-content .mindalay--textarea-wrapper .mindalay--textare-buttons-group {
  padding: 5px 0;
  text-align: right;
}
.mindalay--board-container .mindalay--board-wrapper .mindalay--board-content-wrapper .mindalay--board-content .mindalay--textarea-wrapper .mindalay--textare-buttons-group button {
  border: none;
  padding: 10px 15px;
  background-color: #B53471;
  border-radius: 3px;
  transition: 0.3s;
  cursor: pointer;
  color: white;
}
.mindalay--board-container .mindalay--board-wrapper .mindalay--board-content-wrapper .mindalay--board-content .mindalay--textarea-wrapper .mindalay--textare-buttons-group button:hover {
  background-color: #a12e65;
}
.mindalay--board-container .mindalay--board-wrapper .mindalay--board-content-wrapper .mindalay--board-content .mindalay--textarea-wrapper > div {
  width: 100% !important;
}
.mindalay--board-container .mindalay--board-wrapper .mindalay--board-content-wrapper .mindalay--board-content .mindalay-scrren-share-remote video {
  width: 100%;
  height: 100%;
}
.mindalay--board-container .mindalay--board-wrapper .mindalay--board-content-wrapper .mindalay--board-content .mindalay--board-tool-button:first-child svg {
  animation: blinker 1s linear infinite;
}
.mindalay--board-container .mindalay--board-wrapper .mindalay--board-content-wrapper .mindalay--board-content .mindalay--board-tool-button:first-child svg * {
  fill: #06B400;
}
.mindalay--board-tool-buttons {
  position: absolute;
  display: flex;
  align-items: center;
  top: 5px;
  right: 5px;
  z-index: 1;
}
.mindalay--board-tool-button {
  padding: 8px 13px;
  display: flex;
  margin-left: 2px;
  min-height: 20px;
  background-color: #ffffff1f;
}
.mindalay--board-tool-button svg {
  width: 20px;
  height: auto;
}
.mindalay--board-tool-button svg * {
  fill: #ffffff;
}
.mindalay--board-tool-button:first-child:not(.close-local-screen-share) svg {
  animation: blinker 1s linear infinite;
}
.mindalay--board-tool-button:first-child:not(.close-local-screen-share) svg * {
  fill: #06B400;
}
.board-folded-buttons-group {
  position: fixed;
  bottom: 65px;
  left: 5px;
  display: flex;
  align-items: center;
}
.board-folded-buttons-group .board-buttons-group {
  margin-right: 15px;
}
.mindalay--border-full-screen {
  position: fixed;
  top: 0;
  z-index: 100;
  padding: 0;
  background-color: #222F3E;
  width: 100vw;
  height: 100vh;
}
.mindalay--border-full-screen .mindalay--board-content {
  max-width: 100%;
  height: 100vh;
}
.mindalay--border-full-screen .mindalay--board-content .mindalay--textarea-wrapper {
  margin-bottom: 110px;
}
.mindalay--border-full-screen .mindalay--board-content .textarea-wrapper {
  height: calc(100vh - 110px) !important;
}
.mindalay--border-full-screen .mindalay--board-content .mindalay-scrren-share-remote,
.mindalay--border-full-screen .mindalay--board-content .mindalay-scrren-share-local {
  width: 100%;
}
.mindalay--border-full-screen .mindalay--board-content .mindalay-scrren-share-remote video,
.mindalay--border-full-screen .mindalay--board-content .mindalay-scrren-share-local video {
  height: calc(100vh - 60px) !important;
}
@keyframes blinker {
  50% {
    opacity: 0.2;
  }
}
