::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #e9e9e9;
}
::-webkit-scrollbar-thumb {
  background: #B53471;
}
::-webkit-scrollbar-thumb:hover {
  background: #a12e65;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
strong,
span,
small,
button {
  margin: 0;
  padding: 0;
  font-family: 'Didact Gothic', sans-serif;
  font-family: 'Montez', cursive;
  font-family: 'Montserrat', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
strong,
span,
small,
button {
  color: #222F3E;
}
h1::first-letter,
h2::first-letter,
h3::first-letter,
h4::first-letter,
h5::first-letter,
h6::first-letter,
p::first-letter,
a::first-letter,
strong::first-letter,
span::first-letter,
small::first-letter,
button::first-letter {
  text-transform: capitalize;
}
a {
  text-decoration: none;
}
.main-font {
  font-family: 'Didact Gothic', sans-serif;
  font-family: 'Montez', cursive;
  font-family: 'Montserrat', sans-serif;
}
.transition {
  transition: 0.3s;
}
.box-shadow {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}
hr {
  opacity: 0.7;
}
.align-items-center {
  align-items: center;
}
.mindalay--brand-color-background {
  background-color: #B53471 !important;
}
.mindalay--blue-color-background {
  background-color: #2980B9 !important;
}
.mindalay--gray-color-background {
  background-color: #9c9c9c !important;
}
.mindalay--dark-color-background {
  background-color: #222F3E !important;
}
.mindalay--green-color-background {
  background-color: #06B400 !important;
}
.mindalay--orange-color-background {
  background-color: #ff6700 !important;
}
.mindalay--red-color-background {
  background-color: #DA0006 !important;
}
.brand-color {
  color: #B53471 !important;
}
.blue-color {
  color: #2980B9 !important;
}
.green-color {
  color: #06B400 !important;
}
.dark-color {
  color: #222F3E !important;
}
.gray-color {
  color: #9c9c9c !important;
}
.orange-color {
  color: #ff6700 !important;
}
.red-color {
  color: #DA0006;
}
.red-color * {
  fill: #DA0006 !important;
}
.red-border {
  border: 1px solid #DA0006 !important;
}
.mindalay--modal {
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1050;
  transform: translateY(-150%);
  transition: 0.3s;
  position: fixed;
}
.mindalay--modal .mindalay--modal-dialog {
  position: relative;
  width: auto;
  margin: 0.5rem;
  pointer-events: none;
  transition: 0.3s;
}
.mindalay--modal .mindalay--modal-dialog .mindalay--modal-content {
  position: relative;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  outline: 0;
}
.mindalay--modal .mindalay--modal-dialog .mindalay--modal-content .mindalay--modal-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid #e9ecef;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
}
.mindalay--modal .mindalay--modal-dialog .mindalay--modal-content .mindalay--modal-header .mindalay--modal-title {
  margin-bottom: 0;
  line-height: 1.5;
  font-size: 17px;
}
.mindalay--modal .mindalay--modal-dialog .mindalay--modal-content .mindalay--modal-header .close {
  background-color: transparent;
  border: 0;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
}
.mindalay--modal .mindalay--modal-dialog .mindalay--modal-content .mindalay--modal-body {
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1rem;
}
.mindalay--modal .mindalay--modal-dialog .mindalay--modal-content .mindalay--modal-body p {
  margin-top: 0;
  margin-bottom: 1rem;
}
.mindalay--modal .mindalay--modal-dialog .mindalay--modal-content .mindalay--modal-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 1rem;
  border-top: 1px solid #e9ecef;
}
.mindalay--modal .mindalay--modal-dialog .mindalay--modal-content .mindalay--modal-footer button:first-child {
  margin-right: 5px;
}
.mindalay--modal .mindalay--modal-dialog .mindalay--modal-content .mindalay--modal-footer button:last-child {
  margin-left: 5px;
}
.mindalay--modal .mindalay--ask-request .mindalay--modal-body-container {
  padding: 10px;
}
.mindalay--modal .mindalay--ask-request .mindalay--modal-body-container .mindalay--modal-body-wrapper {
  background-color: #f5f5f5;
  padding: 15px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
  border-radius: 3px;
}
.mindalay--modal .mindalay--ask-request .mindalay--modal-body-container .mindalay--modal-body-wrapper .mindalay--modal-member-wrapper {
  align-items: center;
  flex: 1;
  display: flex;
}
.mindalay--modal .mindalay--ask-request .mindalay--modal-body-container .mindalay--modal-body-wrapper .mindalay--modal-member-wrapper p {
  margin-bottom: 0 !important;
  margin-left: 15px;
  flex: 1;
  max-width: 180px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.mindalay--modal .mindalay--ask-request .mindalay--modal-body-container .mindalay--modal-body-wrapper .mindalay--modal-member-wrapper .mindalay--member-default-image {
  justify-content: center;
  align-items: center;
  color: #ffffff;
  display: flex;
}
.mindalay--modal .mindalay--ask-request .mindalay--modal-body-container .mindalay--modal-body-wrapper .mindalay--modal-member-wrapper .mindalay--member,
.mindalay--modal .mindalay--ask-request .mindalay--modal-body-container .mindalay--modal-body-wrapper .mindalay--modal-member-wrapper .mindalay--member-default-image {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: relative;
  background-color: #B53471;
}
.mindalay--modal .mindalay--ask-request .mindalay--modal-body-container .mindalay--modal-body-wrapper .mindalay--modal-footer {
  flex: 1;
  border: none;
  padding: 0 !important;
}
.mindalay--modal .mindalay--ask-request .mindalay--modal-body-container .mindalay--modal-body-wrapper .mindalay--modal-footer button {
  background-color: #222F3E;
  opacity: 0.8;
  border: none;
}
.mindalay--modal .mindalay--ask-request h5 {
  color: #ffffff !important;
}
.mindalay--modal-backdrop {
  position: fixed;
  opacity: 0.8;
  z-index: 1000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #222F3E;
  transition: 0.3s;
}
.show-mindalay--modal {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1070;
  transition: 0.3s;
  transform: translateY(0) !important;
}
