@import url("../less/constants.less");

.mindalay--more-options{
    bottom: 65px;
    z-index: 2;
    display: none;
    .mindalay--popup-header{
        padding: 15px 20px;
    }
}

.mindalay--right-menu{
    top: 0;
    right: 0;
    z-index: 1;
    transform: translateX(120%);
    .transition;
    .mindalay--popup-container{
        height: calc(100vh - 55px);
        .mindalay--popup-header{
            padding: 25px;
        }
        .mindalay--popup-body{
            position: absolute;
            bottom: 0;
            .mindalay--chat-message-container{
                overflow: auto;
                padding: 10px 0;
                height: calc(100vh - 200px);
                .chat-container-to-up{
                    .transition;
                    padding: 25px 0;
                    display: block;
                }
                .mindalay--currnet-user{
                    justify-content: flex-end;
                    .mindalay--chat-message{
                        background-color: lighten(@mindalay--blue-color, 50%) !important;
                    }
                }
            }
        }
    }
}

.mindalay--popup{
    position: fixed;
    .mindalay--popup-container{
        background-color: @mindalay--white-color;
        .box-shadow;
        .mindalay--popup-header{
            border-bottom: 1px solid lighten(@mindalay--gray-color, 20%);
            display: flex;
            align-items: center;
            position: relative;
            z-index: 2;
            background-color: @mindalay--white-color;
            .mindalay--more-popup-default-image{
                background-color: @mindalay--brand-color;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                color: @mindalay--white-color;
                font-size: 20px;
                font-weight: bold;
            }
            .mindalay--more-popup-user-image{
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                border-radius: 50%;
            }
            .mindalay--more-popup-user-info{
                padding: 0 15px;
                .mindalay--more-popup-user-name{
                    font-weight: 600;
                }
                .mindalay--more-popup-user-type{
                    text-transform: capitalize;
                    opacity: .8;
                }
            }
            .mindalay--popup-close-button{
                position: absolute;
                padding: 0 20px;
                right: 0;
                top: 0%;
                display: flex;
                background-color: lighten(@mindalay--brand-color, 50%);
                height: 100%;
                cursor: pointer;
                .transition;
            }
        }
        .mindalay--popup-body{
            padding: 5px 0;
            width: 100%;
            li{
                .popup-button{
                    border: none;
                    background-color: @mindalay--white-color;
                    cursor: pointer;
                    padding: 15px 20px;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    font-size: @text-size-screen;
                    svg{
                        width: 25px;
                        height: auto;
                        margin-right: 10px;
                        *{
                            fill: @mindalay--dark-color;
                        }
                    }
                    &:hover{
                        background-color: lighten(@mindalay--dark-color, 75%);
                    }
                }
            }
            .mindalay--chat-message-container{
                .mindalay--chat-message-wrapper{
                    padding: 10px 15px;
                    display: flex;
                    .mindalay--chat-member-wrapper{
                        margin: 10px;
                        height: fit-content;
                        .mindalay--chat-member-default-image{
                            justify-content: center;
                            align-items: center;
                            color: @mindalay--white-color;
                            display: flex;
                        }
                        .mindalay--chat-member,
                        .mindalay--chat-member-default-image{
                            background-position: center;
                            background-size: cover;
                            background-repeat: no-repeat;
                            width: 30px;
                            height: 30px;
                            border-radius: 50%;
                            position: relative;
                            background-color: @mindalay--brand-color;
                        }
                        
                        .member-online-status{
                            &::after{
                                width: 8px;
                                height: 8px;
                                bottom: -4px;
                                right: -4px;
                            }
                        }
                    }
                    .mindalay--chat-message{
                        background-color: lighten(@mindalay--gray-color, 35%);
                        font-size: @message-text-font-size;
                        border-radius: @border-radius-3;
                        padding: 10px;
                        .mindalay--chat-username{
                            margin-bottom: 2px;
                            display: block;
                        }
                    }
                    .mindalay--chat-message-date{
                        font-size: @message-date-font-size;
                        font-weight: 600;
                        margin-top: 5px;
                        display: block;
                        text-align: right;
                    }
                }
            }
            .mindalay--chat-input-wrapper{
                padding: 10px 15px;
                position: relative;
                z-index: 0;
                .mindalay--input{
                    padding-right: 35px !important;
                    border-color: @mindalay--brand-color;
                }
                .typing-transform-bottom{
                    top: -21px !important;
                    transform: translateY(0) !important;
                    // z-index: 1 !important;
                    .transition;
                }
                .mindalay-chat-typing{
                    position: absolute;
                    z-index: -1;
                    top: 50%;
                    transform: translateY(-50%);
                    display: flex;
                    right: 15px;
                    padding: 5px 10px;
                    background-color: lighten(@mindalay--gray-color, 30%);
                    border-radius: 15px;
                    span{
                        display:inline-block;
                        width:5px;
                        height:5px;
                        border-radius:50%;
                        margin-right:5px;
                        background: lighten(@mindalay--gray-color, 10%);
                        animation: wave 1s linear infinite;
                
                        &:nth-child(2) {
                            animation-delay: -1.1s;
                        }
                
                        &:nth-child(3) {
                            animation-delay: -0.9s;
                        }
                    }
                }
                .mindalay--chat-send-message-button{
                    box-sizing: content-box;
                    width: fit-content;
                    position: absolute;
                    background-color: @mindalay--white-color;
                    padding: 5px;
                    line-height: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    right: 20px;
                    cursor: pointer;
                    svg{
                        width: 25px;
                        *{
                            fill: @mindalay--brand-color;
                        }
                    }
                }
            }
        }
        .chat-header{
            display: flex;
            justify-content: flex-end;
            padding: 0;
            svg{
                padding: 15px;
            }
        }
    }

}

.mindalay--popup-close-button{
    svg{
        width: 15px;
        background-color: lighten(@mindalay--brand-color, 50%);
        *{
            fill: lighten(@mindalay--brand-color, 20%);
        }
    }
    &:hover{
        background-color: lighten(@mindalay--brand-color, 48%);
        svg{
            *{
                fill: @mindalay--brand-color;
            }
        }
    }
}

@keyframes wave {
    0%, 60%, 100% {
        transform: initial;
    }

    30% {
        transform: translateY(-5px);
    }
}